<footer class="footer">
  <div class="footer__container">
    <p class="footer__item">
      © 2023 | All Rights Reserved | Developed with 🧡 by
      <button type="button" class="footer__button underline" data-modal-open="">
        GoIT Students
      </button>
    </p>
    <!-- <p class="developed">Developed with</p> -->
    <!-- <svg class="footer__heart-icon">
        <use class="heart-icon" href="./images/heart-ico.svg"></use> <<< here will be a link to the correct file
      </svg> -->
    <!-- <p class="students">
        by
        <button type="button" class="footer__button underline" data-modal-open="">
          GoIT Students
        </button>
      </p> -->
  </div>
</footer>
