<header class="header">
  <a href="./index.html" class="logo">
    <svg width="24" height="24" class="logo__svg">
      <use href="./images/symbol-defs.svg#icon-film"></use>
    </svg>
    <p>Filmoteka</p>
  </a>
  <div class="library">
    <button
      type="button"
      class="watched library__button library__button--current is-hidden"
      id="watched"
    >
      watched
    </button>
    <button type="button" class="queue library__button is-hidden" id="queue">queue</button>
  </div>
  <form name="search" class="search-form">
    <label class="search-form__label">
      <input type="text" placeholder="Movie search" name="movie" class="search-form__input" />
      <svg width="12" height="12" class="search-form__svg">
        <use href="./images/symbol-defs.svg#icon-search"></use>
      </svg>
    </label>
  </form>
  <nav class="navigation">
    <ul class="navigation__list">
      <button type="button" class="dark-mode-button">
        <svg width="12" height="12" class="icon-moon icon-moon--visible">
          <use xlink:href="./images/svg/symbol-defs.svg#icon-moon"></use>
        </svg>
        <svg width="12" height="12" class="icon-sun icon-sun--hidden">
          <use xlink:href="./images/svg/symbol-defs.svg#icon-sun"></use>
        </svg>
      </button>
      <li id="home" class="navigation__item is-active"><a href="./index.html">home</a></li>
      <li class="navigation__item"><a href="./my-library.html">my&nbsp;library</a></li>
      <li class="navigation__item is-hidden log-out"><a href="#">Logout</a></li>
      <li class="navigation__item log-in">
        <a href="#" login-open="">Login</a>
      </li>
      <li class="navigation__item sing-up">
        <a href="#" sign-open="">Sign&nbsp;up</a>
      </li>
    </ul>
  </nav>
</header>
<section class="banner"></section>
<section class="banner-library is-hidden"></section>

<!-- end of my header -->

<!-- <header class="header">
  <div class="container">
    <a href="./index.html" class="logo">
      <svg width="24" height="24" class="logo__svg">
        <use href="./images/symbol-defs.svg#icon-film"></use>
      </svg>
      <p>Filmoteka</p>
    </a>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item is-active"><a href="./index.html">home</a></li>
        <li class="navigation__item"><a href="./my-library.html">my library</a></li>
        <li class="navigation__item open-modal is-hidden"><a href="#">Logout</a></li>
        <li class="navigation__item open-modal is-hidden" data-open="modal1">
          <a href="#">Login</a>
        </li>
        <li class="navigation__item open-modal is-hidden" data-open="modal2">
          <a href="#">Sign up</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="library">
    <button
      type="button"
      class="watched library__button library__button--current is-hidden"
      id="watched"
    >
      watched
    </button>
    <button type="button" class="queue library__button is-hidden" id="queue">queue</button>
  </div>
  <form name="search" class="search-form">
    <label class="search-form__label">
      <input type="text" placeholder="Movie search" name="movie" class="search-form__input" />
      <svg width="12" height="12" class="search-form__svg">
        <use href="./images/symbol-defs.svg#icon-search"></use>
      </svg>
    </label>
  </form>
</header> -->
