<section class="header container" id="header">
  <div class="top-things">
    <span>
      <a class="logo" href="./index.html">
        <svg width="24" height="24" class="logo__svg">
          <use href="./images/svg/symbol-defs.svg#icon-film"></use>
        </svg>
        <p>FILMOTEKA</p>
      </a>
    </span>
    <ul class="navbar">
      <li><a class="home" href="./index.html">HOME</a></li>
      <li><a class="my-library active" href="./my_library.html">MY LIBRARY</a></li>
    </ul>
  </div>
    <div class="videos">
      <button class="videos_watched"></button>
      <button class="videos_queue"></button>
    </div>
  </div>
</section>
