<div class="modal-backdrop is-hidden">
  <button class="close-modal" aria-label="close modal" data-close>✕</button>
  <div class="modal-content">
    <h4>Sign up</h4>
    <br />
    <form id="signup-form">
      <div class="input-field">
        <input type="email" id="signup-email" required />
        <label for="signup-email">Email address</label>
      </div>
      <div class="input-field">
        <input type="password" id="signup-password" required />
        <label for="signup-password">Choose password</label>
      </div>
      <button class="btn">Sign up</button>
    </form>
  </div>
</div>
