<div class="modal-squad-backdrop is-hidden" data-modal>
  <div class="modal-squad-info">
    <button type="button" class="close-btn" data-modal-close>
      <svg class="close-icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!-- <img src="./images/cmc-tmp.jpg" /> -->
    <h2 class="squad-name">
      <img src="./images/cmc.svg" alt="logo Code Masters Crew" width="100" />
      <p class="squad-name__cmc">Code Masters Crew</p>
      <p class="squad-name__team">Our Team</p>
      <p class="squad-name__dev">Web Developers</p>
    </h2>
    <ul class="squad-list">
      <li class="squad__item">
        <img
          class="squad__photo"
          src="./images/KrystianKlimczak-tmp.png"
          alt="Krystian Klimczak - Team Leader"
        />
        <div class="dev-info">
          <p class="dev-info__name">Krystian Klimczak</p>
          <p class="dev-info__role">Team Leader</p>
        </div>
      </li>
      <li class="squad__item">
        <img
          class="squad__photo"
          src="./images/AnnaUlanska-tmp.png"
          alt="Anna Ulańska - Scrum Master"
        />
        <div class="dev-info">
          <p class="dev-info__name">Anna Ulańska</p>
          <p class="dev-info__role">Scrum Master</p>
        </div>
      </li>
      <li class="squad__item">
        <img
          class="squad__photo"
          src="./images/AnnaIstochnikova-tmp.png"
          alt="Anna Istochnikova - Developer"
        />
        <div class="dev-info">
          <p class="dev-info__name">Anna Istochnikova</p>
          <p class="dev-info__role">Developer</p>
        </div>
      </li>
      <li class="squad__item">
        <img
          class="squad__photo"
          src="./images/MartaKossowska-tmp.png"
          alt="Marta Kossowska - Developer"
        />
        <div class="dev-info">
          <p class="dev-info__name">Marta Kossowska</p>
          <p class="dev-info__role">Developer</p>
        </div>
      </li>
      <li class="squad__item">
        <img
          class="squad__photo"
          src="./images/AndrzejJaniak-tmp.png"
          alt="Andrzej Janiak - Developer"
        />
        <div class="dev-info">
          <p class="dev-info__name">Andrzej Janiak</p>
          <p class="dev-info__role">Developer</p>
        </div>
      </li>
      <li class="squad__item">
        <img
          class="squad__photo"
          src="./images/DamianKaczmarczyk-tmp.png"
          alt="Damian Kaczmarczyk - Developer"
        />
        <div class="dev-info">
          <p class="dev-info__name">Damian Kaczmarczyk</p>
          <p class="dev-info__role">Developer</p>
        </div>
      </li>
      <li class="squad__item">
        <img
          class="squad__photo"
          src="./images/JakubOlszak-tmp.png"
          alt="Jakub Olszak - Developer"
        />
        <div class="dev-info">
          <p class="dev-info__name">Jakub Olszak</p>
          <p class="dev-info__role">Developer</p>
        </div>
      </li>
      <li class="squad__item">
        <img
          class="squad__photo"
          src="./images/SebastianLalek-tmp.png"
          alt="Sebastian Lalek - Developer"
        />
        <div class="dev-info">
          <p class="dev-info__name">Sebastian Lalek</p>
          <p class="dev-info__role">Developer</p>
        </div>
      </li>
      <li class="squad__item">
        <img
          class="squad__photo"
          src="./images/MariuszZiental-tmp.png"
          alt="Mariusz Ziental - Developer"
        />
        <div class="dev-info">
          <p class="dev-info__name">Mariusz Ziental</p>
          <p class="dev-info__role">Developer</p>
        </div>
      </li>
      <li class="squad__item">
        <img
          class="squad__photo"
          src="./images/MichalViwegier-tmp.png"
          alt="Michał Viwegier - Developer"
        />
        <div class="dev-info">
          <p class="dev-info__name">Michał Viwegier</p>
          <p class="dev-info__role">Developer</p>
        </div>
      </li>
    </ul>
  </div>
</div>
