<div class="form-box is-hidden" sign-container>
  <button type="button" class="form-box__btn" sign-close>
    <svg class="" width="24" height="24">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="form-value">
    <form class="form-signup">
      <h2>Sign up</h2>
      <div class="inputbox">
        <!-- <ion-icon name="mail-outline"></ion-icon> -->
        <input type="email" required id="form-signup_email" placeholder=" " />
        <label for="form-signup_email">Email</label>
      </div>
      <div class="inputbox">
        <!-- <ion-icon name="lock-closed-outline"></ion-icon> -->
        <input type="password" required id="form-signup_password" placeholder=" " />
        <label for="form-signup_password">Password</label>
      </div>
      <button class="button-login">Sign up</button>
    </form>
  </div>
</div>
