<!-- <div class="form-box is-hidden" login-container>
  <button type="button" class="close-btn" login-close>
    <svg class="close-icon">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="form-value">
    <form>
      <h2>Sign in</h2>
      <div class="inputbox">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" required />
        <label for="">Email</label>
      </div>
      <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" required />
        <label for="">Password</label>
      </div>
      <button class="button-login">Sign up</button>
    </form>
  </div>
</div> -->
