<div class="backdrop no-hidden data-modal">
  <div class="modal-window-squad-info">
    <button type="button" class="close-btn" data-modal-close>
      <svg class="close-icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="squad-name">CMC<br />Code Masters Crew</h2>
    <ul class="squad-list">
      <li class="squad__item">
        <img class="photo" src="./images/face-tmp.png" alt="temporary Developer photo" />
        <div class="dev-info">
          <p class="dev-info__name">Name Surname</p>
          <p class="dev-info__role">Team Leader</p>
        </div>
      </li>
      <li class="squad__item">
        <img class="photo" src="./images/face-tmp.png" alt="temporary Developer photo" />
        <div class="dev-info">
          <p class="dev-info__name">Name Surname</p>
          <p class="dev-info__role">Team Leader</p>
        </div>
      </li>
      <li class="squad__item">
        <img class="photo" src="./images/face-tmp.png" alt="temporary Developer photo" />
        <div class="dev-info">
          <p class="dev-info__name">Name Surname</p>
          <p class="dev-info__role">Team Leader</p>
        </div>
      </li>
      <li class="squad__item">
        <img class="photo" src="./images/face-tmp.png" alt="temporary Developer photo" />
        <div class="dev-info">
          <p class="dev-info__name">Name Surname</p>
          <p class="dev-info__role">Team Leader</p>
        </div>
      </li>
      <li class="squad__item">
        <img class="photo" src="./images/face-tmp.png" alt="temporary Developer photo" />
        <div class="dev-info">
          <p class="dev-info__name">Name Surname</p>
          <p class="dev-info__role">Team Leader</p>
        </div>
      </li>
      <li class="squad__item">
        <img class="photo" src="./images/face-tmp.png" alt="temporary Developer photo" />
        <div class="dev-info">
          <p class="dev-info__name">Name Surname</p>
          <p class="dev-info__role">Team Leader</p>
        </div>
      </li>
      <li class="squad__item">
        <img class="photo" src="./images/face-tmp.png" alt="temporary Developer photo" />
        <div class="dev-info">
          <p class="dev-info__name">Name Surname</p>
          <p class="dev-info__role">Team Leader</p>
        </div>
      </li>
      <li class="squad__item">
        <img class="photo" src="./images/face-tmp.png" alt="temporary Developer photo" />
        <div class="dev-info">
          <p class="dev-info__name">Name Surname</p>
          <p class="dev-info__role">Team Leader</p>
        </div>
      </li>
      <li class="squad__item">
        <img class="photo" src="./images/face-tmp.png" alt="temporary Developer photo" />
        <div class="dev-info">
          <p class="dev-info__name">Name Surname</p>
          <p class="dev-info__role">Team Leader</p>
        </div>
      </li>
      <li class="squad__item">
        <img class="photo" src="./images/face-tmp.png" alt="temporary Developer photo" />
        <div class="dev-info">
          <p class="dev-info__name">Name Surname</p>
          <p class="dev-info__role">Team Leader</p>
        </div>
      </li>
    </ul>
  </div>
</div>
