<div class="backdrop-modal-film">
  <div class="modal-film container">
    <button type="button" class="modal-film__btn-close" aria-label="close button">
      <svg class="modal-film__btn-close-icon" width="20" height="20">
        <use href="/src/images/icons.svg#icon-close" />
      </svg>
    </button>
    <!-- As agreed, I added a button to play the trailer window -->
    <div class="trailer-btn">
      <svg class="trailer-btn__play" width="60" height="60">
        <use href="/src/images/icons.svg#icon-play-grey" />
      </svg>
    </div>
    <div class="modal-film__card"></div>
    <!-- JS injected html -->
    <!-- additional "watched" & "queue" buttons -->
    <div class="modal-film__btns">
      <button type="button" class="modal-film__btns-addToWatched">Add to watched</button>
      <button type="button" class="modal-film__btns-addToQueue">Add to queue</button>
    </div>
  </div>
</div>
