<div class="backdrop-modal-film is-hidden">
  <div class="modal-film container">
    <button type="button" class="modal-film__btn-close" aria-label="close button">
      <svg class="modal-film__btn-close-icon" width="20" height="20">
        <use href="/src/images/icons.svg#icon-close" />
      </svg>
    </button>
    <!-- As agreed, I added a button to play the trailer window -->

    <div class="modal-film__card"></div>
    <!-- JS injected html -->

    <!-- <div class="film-info">
      <img src="#" srcset="#" alt="movie poster" class="film-info__poster" />
      <div class="film-info__wrapper">
        <h1 class="film-info__title">A FISTFUL OF LEAD</h1>
        <table class="film-info__table">
          <tbody>
            <tr>
              <td class="film-info__stats">Vote / Votes</td>
              <td><span class="film-info__vote">7.3</span> / 1260</td>
            </tr>
            <tr>
              <td class="film-info__stats">Popularity</td>
              <td>100.2</td>
            </tr>
            <tr>
              <td class="film-info__stats">Original Title</td>
              <td class="film-info__orign-title">A FISTFUL OF LEAD</td>
            </tr>
            <tr>
              <td class="film-info__stats">Genre</td>
              <td>Western</td>
            </tr>
          </tbody>
        </table>
        <p class="film-info__about">About</p>
        <p class="film-info__descr">
          Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
          most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
          the other three escapes with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to hit the very same
          bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and how?
        </p>
      </div>
    </div> -->

    <!-- additional "watched" & "queue" buttons -->
    <!-- <div class="modal-film__btns">
      <button type="button" class="modal-film__btns-addToWatched add-watched">
        Add to watched
      </button>
      <button type="button" class="modal-film__btns-addToQueue add-queue">Add to queue</button>
    </div> -->
  </div>
</div>
