<div class="container pagination-section">
  <button class="arrow--left">
    <svg width="48" height="32" viewBox="0 0 48 32">
      <use href="./images/svg/symbol-defs.svg#icon-left-arrow" width="48" height="32"></use>
    </svg>
  </button>
  <button class="dots--left">...</button>
  <button class="two-pages--back"></button>
  <button class="page--back"></button>
  <button class="current-page"></button>
  <button class="page--next"></button>
  <button class="two-pages--next"></button>
  <button class="dots--right">...</button>
  <button class="arrow--left">
    <svg width="48" height="32" viewBox="0 0 48 32">
      <use href="./images/svg/symbol-defs.svg#icon-right-arrow" width="48" height="32"></use>
    </svg>
  </button>
</div>
