.backdrop-modal-film {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  z-index: 99;
}

.backdrop-modal-film:active {
  opacity: 1;
  visibility: visible;
}

.modal-film {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  height: auto;
  max-width: 95vh;
  max-height: 90vh;
  padding: 40px 20px;
  border-radius: 5px;
  background-color: #fafafa;
  font-weight: 500;
  line-height: 1.33;
  /* opacity: 0; */
  /* visibility: hidden; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  z-index: 100;
}

.modal-film:active {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .modal-film {
    width: 704px;
    padding: 40px 36px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-film {
    width: 806px;
    padding: 40px 12px;
  }
}

.modal-film__btn-close {
  /* make it a mixin? */
  display: flex;
  align-items: center;
  justify-content: center;
  /* end "mixin" */
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  /* margin-left: auto; */
  margin: 8px;
  /* border: none; */
  background-color: transparent;
}

.modal-film__btn-close-icon {
  fill: #000;
  /* transform: translateY(4px) scale(0.98); */
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-film__btn-close-icon:hover,
.modal-film__btn-close-icon:focus {
  fill: #ff6b01;
}

.modal-film__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .modal-film__btns {
    justify-content: center;
    gap: 20px;
    position: absolute;
    right: 0;
    width: 337px;
    transform: translateY(-100%);
  }
}

@media screen and (min-width: 1280px) {
  .modal-film__btns {
    gap: 15px;
    width: 397px;
  }
}

.modal-film__btns-addToWatched,
.modal-film__btns-addToQueue {
  /* make it a mixin? */
  display: flex;
  align-items: center;
  justify-content: center;
  /* end "mixin" */
  width: 110px;
  height: 44px;
  padding: 6px;
  color: inherit;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: inherit;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768) {
  .modal-film__btns-addToWatched,
  .modal-film__btns-addToQueue {
    width: 125px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-film__btns-addToWatched,
  .modal-film__btns-addToQueue {
    width: 136px;
  }
}

.modal-film__btns-addToWatched:hover,
.modal-film__btns-addToQueue:hover,
.modal-film__btns-addToWatched:focus,
.modal-film__btns-addToQueue:focus {
  color: #fff;
  border: none;
  background-color: #ff6b01;
}
