body.modal-is-hidden {
  overflow-y: hidden;
  height: 100vh;
}

.backdrop-modal-film {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: 0.3s all;
  z-index: 99;
}

.modal-film {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  height: auto;
  max-width: 95vh;
  max-height: 90vh;
  padding: 40px 20px;
  border-radius: 5px;
  background-color: #fafafa;
  font-weight: 500;
  line-height: 1.33;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  z-index: 100;

  @media screen and (min-width: 768px) {
    .modal-film {
      width: 704px;
      padding: 40px 36px;
    }
  }

  @media screen and (min-width: 1280px) {
    .modal-film {
      width: 806px;
      padding: 40px 12px;
    }
  }
}

.modal-film__btn-close {
  // make it a mixin?
  display: flex;
  align-items: center;
  justify-content: center;
  // end "mixin"
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  // margin-left: auto;
  margin: 8px;
  // border: none;
  background-color: transparent;
}

.modal-film__btn-close-icon {
  fill: #000;
  // transform: translateY(4px) scale(0.98);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #ff6b01;
  }
}

.film-info {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.film-info__poster {
  flex-shrink: 0;
  height: auto;
  min-width: 240px;
  min-height: 357px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #8c8c8c;

  @media screen and (min-width: 768px) {
    width: 264px;
    min-height: 374px;
    margin-right: 68px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    min-height: 478px;
    margin-right: 16px;
  }
}

// .film-info__wrapper {
//   @media screen and (min-width: 768px) {
//   }
// }

.film-info__title {
  font-size: 20px;
  line-height: 1.17px;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}

.film-info__table {
  margin-right: auto;
  margin-bottom: 20px;
}

.film-info__stats {
  width: 108px;
  color: #8c8c8c;
}

.film-info__vote {
  display: inline-block;
  text-align: center;
  min-width: 36px;
  height: 16px;
  padding: 1px;
  border-radius: 5px;
  color: #fff;
  background: #ff6b01;
}

.film-info__origin-title {
  text-transform: uppercase;
}

.film-info__about {
  margin-bottom: 8px;
  text-transform: uppercase;
}

.film-info__descr {
  position: relative;
  max-height: 236px;
  line-height: 1.67;
  margin-bottom: 20px;
  overflow-y: auto;

  @media screen and (min-width: 768px) {
    width: 280px;
    max-height: 125px;
  }

  @media screen and (min-width: 1280px) {
    width: 385px;
    max-height: 220px;
  }
}

.modal-film__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    .modal-film__btns {
      justify-content: center;
      gap: 20px;
      position: absolute;
      right: 0;
      width: 337px;
      transform: translateY(-100%);
    }
  }

  @media screen and (min-width: 1280px) {
    .modal-film__btns {
      gap: 15px;
      width: 397px;
    }
  }
}

.modal-film__btns-addToWatched,
.modal-film__btns-addToQueue {
  /* make it a mixin? */
  display: flex;
  align-items: center;
  justify-content: center;
  /* end "mixin" */
  width: 110px;
  height: 44px;
  padding: 6px;
  color: inherit;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: inherit;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #fff;
    border: none;
    background-color: #ff6b01;
  }

  @media screen and (min-width: 768) {
    .modal-film__btns-addToWatched,
    .modal-film__btns-addToQueue {
      width: 125px;
    }
  }

  @media screen and (min-width: 1280px) {
    .modal-film__btns-addToWatched,
    .modal-film__btns-addToQueue {
      width: 136px;
    }
  }
}
