.arrow {
  position: fixed;
  right: 25px;
  bottom: 80px;

  border: none;
  border-radius: 50%;
  background-color: $footer-color-background;
  opacity: 0.9;
  line-height: 0;

  @include transition-properties(transform);

  @media screen and (min-width: $breakpoint-tablet) {
    right: 60px;
    bottom: 100px;
  }

  &__icon {
    fill: $text-color-dark;
    padding: 8px;
    width: 40px;
    height: 40px;

    @media screen and (min-width: $breakpoint-tablet) {
      width: 60px;
      height: 60px;
      padding: 12px;
    }
  }
}

.arrow--hidden {
  transform: translateY(200);
}
