.button {
  width: 130px;
  height: 44px;

  background-color: transparent;
  color: white; //placeholders
  border: 1px solid white;
  border-radius: 5px;

  font-size: 12px;
  font-weight: 500;
  line-height: 16px;

  padding: 6px 13px;

  @media screen and (min-width: 768px) {
    width: 152px;
  }

  &:hover,
  &:focus {
    background-color: #ff6b01;
    border-color: #ff6b01;
  }

  &__modal {
    width: 110px;
    color: black;

    @media screen and (min-width: 768px) {
      width: 125px;
    }
  }
}
