* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-primary;
  color: $text-color-dark;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: $website-color-secondary;
}

::-webkit-scrollbar-thumb {
  background: $hover-color-secondary;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: $website-main-color;
}
