.container {
  flex-grow: 1;
  max-width: $breakpoint-mobile;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-tablet) {
    max-width: $breakpoint-tablet;
    padding: 0 32px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    max-width: $breakpoint-desktop;
  }
}
