.close-btn {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  margin-left: auto;
  padding: 0;
  width: 25px;
  height: 25px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2000;
}
//
.close-icon {
  height: 30px;
  &--dark-mode {
    fill: $text-color-light;
  }
}

.close-icon:focus,
.close-icon:hover {
  fill: $hover-color-primary;
}

.modal-squad-backdrop {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, background-color, visibility;
  transition-duration: 250ms;
  z-index: 1000;
}

.modal-squad-info {
  border-radius: 5px;
  background-color: $footer-color-background; // almost white
  max-height: 90%;
  min-width: 90%;
  overflow: auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50%), calc(-50%));
  @media screen and (min-width: $breakpoint-modal-squad-width) {
    min-width: unset;
    width: 1599px;
  }
  &--dark-mode {
    background-color: $website-color-secondary;
    box-shadow: rgba(253, 251, 251, 0.25) 0px 2px 10px 0px;
  }
}

.squad-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-primary;
  font-weight: $font-weight-regular;

  &__cmc {
    margin-top: 7px;
    font-size: 1.7rem;
    margin-left: 6px;
    margin-bottom: 4rem;
    color: $text-color-additional-secondary;
    &--dark-mode {
      color: $text-color-light;
    }
  }
  &__team {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    font-size: 4rem;
    margin-top: 5px;
    margin-bottom: 0.5rem;
    color: $text-color-dark;
    @media screen and (min-width: $breakpoint-tablet) {
      
      text-transform: uppercase;
      font-size: 6rem;
      margin-bottom: 2.1rem;
      

    }
    &--dark-mode {
      text-shadow: $footer-color-background 0.1px 0px 2px;
    }
  }
  &__dev {
    font-weight: 600;
    font-size: 2.5rem;
   
    color: rgb(8, 175, 152);
    @media screen and (min-width: $breakpoint-tablet) {
      font-size: 3rem;
      color: rgb(8, 175, 152);
    }
  }
}

// .squad-list {
//   display: flex;
//   justify-content: center;
//   flex-flow: wrap;

//   @media screen and (min-width: $breakpoint-tablet) {
//     justify-content: space-evenly;
//     align-items: center;
//     flex-flow: wrap;
//   }

//   @media screen and (min-width: $breakpoint-desktop) {
//     justify-content: space-evenly;
//     align-items: center;
//     flex-flow: wrap;
//   }
// }

.squad__item {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  margin: auto;



  // @media screen and (min-width: $breakpoint-tablet) {
  //   flex-basis: 200px;
  //   margin: 30px;
  // }

  // Above & below maybe required in the near future

  // @media screen and (min-width: $breakpoint-desktop) {
  //   flex-basis: 200px;
  //   margin: 30px;
  // }
}

.squad__photo {
  border-radius: 50%;
  margin: 2.5rem;
  box-shadow: 10px 10px 20px 1px rgba(0,0,0, 0.4);
 
}

.footer {
  font-family: $font-primary;
  font-size: $font-size-footer-mobile;
  font-weight: $font-weight-regular;
  background-color: white;
  // background-color: $footer-color-background;
  color: $text-color-additional-secondary;
  text-align: center;
  opacity: 0.95;
  padding: 10px;
  display: flex;
  position: sticky;
  width: 100%;
  left: 0;
  bottom: 0;
  &--dark-mode {
    background-color: rgba(0, 0, 0, 0.7);
  }
  &__item--dark-mode {
    color: $text-color-light;
  }
  &--dark-mode {
    background-color: rgba(0, 0, 0, 0.7);
  }
  &__item--dark-mode {
    color: $text-color-light;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: $font-size-footer;
    opacity: 1;
    padding: 30px;
    position: relative;
    bottom: auto;
  }

  & > p {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    align-items: center;
  }

  &__button {
    border: none;
    border-bottom: 1px solid $text-color-additional-secondary;
    background-color: rgba(0, 0, 0, 0);

    margin-left: 5px;
    color: $text-color-additional-secondary;
    &--dark-mode {
      color: $text-color-light;
      // background-color: rgba(0, 0, 0, 0);
      // border: none;
      border-bottom: 1px solid $text-color-light;
    }
  }

  &__button:hover,
  &__button:focus {
    color: $hover-color-primary;
    border-bottom: 1px solid $hover-color-primary;
  }
}

.dev-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    font-weight: $font-weight-bold;
    color: $footer-color-text;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 5px;
    // @media screen and (min-width: $breakpoint-tablet) {
    //   font-weight: $font-weight-bold;
    //   text-transform: uppercase;
    //   font-size: 1rem;
    //   margin-top: 10px;
    // }
    &--dark-mode {
      color: $text-color-light;
    }
  }
  &__role {
    font-weight: 500;
    font-size: 1.6rem;
    color: rgb(8, 175, 152);
    // @media screen and (min-width: $breakpoint-tablet) {
    //   font-weight: $font-weight-bold;
    //   font-size: 1rem;
    //   margin-top: 10px;
    //   color: rgb(8, 175, 152);
    // }
  }
}

.heart-icon {
  fill: $text-color-additional-primary;
}

.is-hidden {
  display: none; // please add this class to 'commons.scss', unify the name and remove it from 'scss' partials
}

.squad-svg--dark-mode {
  filter: drop-shadow(0 0 0.1rem $footer-color-background);
}

// styles modal ania
.top-flex {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    margin: auto;
    flex-direction: row;
    justify-content: center;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 30rem;
    margin-top: -20rem;
    max-width: 1280px;
  }
}
.squad-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
   &__item {
    padding: 3rem;
   }
   @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 768px;
    margin: auto;
   }
   @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1280px;
   }
  
}
