.header {
  background-color: black;
  background-image: url(/src/images/background/Background_mobile@3x.jpg);
  @media screen and (min-width: 768px) {
    background-image: url(/src/images/background/Background_tablet@3x.jpg);
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/src/images/background/Background_desktop@3x.jpg);
  }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 92px;
}

.top-things {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo {
  fill: $text-color-light;
  display: flex;
  align-items: center;
  gap: 8px;
  & p {
    display: none;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
  }
}
.navbar {
  justify-content: space-between;
  flex-direction: row;
  justify-content: space-around;
}

.home {
  font-size: $font-size-small;
  color: white;
}

.my-library {
  font-size: $font-size-small;
  color: white;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
