.header {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 92px;
}

.top-things {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo {
  fill: $text-color-light;
  display: flex;
  align-items: center;
  gap: 8px;
  & p {
    display: none;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
  }
}
.nav {
  justify-content: space-between;
}

.home {
  font-size: $font-size-small;
  color: white;
}
.my-library {
  font-size: $font-size-small;
  color: white;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.videos_watched {
  border-radius: 5px;
  width: 147px;
  height: 42px;
}
.videos_queue {
  border-radius: 5px;
  width: 147px;
  height: 42px;
}
