.videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.videos_watched {
  background-color: transparent;
  border-radius: 5px;
  width: 147px;
  height: 42px;
  padding-right: 8px;
}
.videos_queue {
  background-color: transparent;
  border-radius: 5px;
  width: 147px;
  height: 42px;
  padding-left: 8px;
  color: black;
}
