.form-box{
    position: relative;
    width: 280px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, background-color, visibility;
    transition-duration: 250ms;
    z-index: 1000;
    @media screen and (min-width: $breakpoint-tablet) {
        max-width: $breakpoint-tablet;
        width: 400px;
        height: 450px;
      }
    
      @media screen and (min-width: $breakpoint-desktop) {
        max-width: $breakpoint-desktop;
        width:450px;
        height: 550px;
      }
    &__btn {
        position: fixed;
        top: 15px;
        right: 15px;
        background: transparent;
        border: none;
        fill: $text-color-light;
    }
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 260px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:focus ~ label, input:not(:placeholder-shown) ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox .ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
.button-login{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: 5px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}