.main-section {
  font-family: $font-primary;
  font-weight: $font-weight-medium;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  @media screen and (min-width: $breakpoint-tablet) {
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    justify-content: center;
    gap: 16px;
  }
}

.film-poster {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  @include transition-properties(transform);

  @media screen and (min-width: $breakpoint-tablet) {
    flex-basis: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: $breakpoint-desktop) {
    flex-basis: calc((100% - 32px) / 3);
    padding-bottom: 16px;
    &:hover {
      cursor: pointer;
      transform: scale(1.016);
    }
  }

  &__overflow {
    height: 100%;
    left: 0;
    padding: 49px 45px 49px 24px;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    visibility: hidden;
    width: 100%;
  }

  &__photo {
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    @media screen and (min-width: $breakpoint-tablet) {
      height: 480px;
    }
    @media screen and (min-width: $breakpoint-desktop) {
      width: 394px;
      height: 574px;
    }
  }

  &__description {
    padding: 7px;
    font-size: $font-size-small;
    margin-top: 10px;
    @media screen and (min-width: $breakpoint-desktop) {
      font-size: $font-size-medium;
    }
    & > p {
      display: inline;
    }
  }
  &__title {
    text-transform: uppercase;
    &--dark-mode {
      color: $text-color-light;
    }
  }
  &__button {
    background-color: transparent;
    float: right;
    border: none;
    width: fit-content;
    height: fit-content;
    padding-left: 10px;
    @media screen and (min-width: 334px) {
      padding: 0;
    }
    &:focus,
    :hover {
      outline: none;
    }
    & svg {
      fill: black;
      @include transition-properties(transform);
      &:hover,
      :focus {
        & path {
          fill: black;
          fill-opacity: 1;
          stroke: black;
          stroke-width: 1;
          stroke-dashoffset: 0;
          stroke-dasharray: 3000;

          animation: animate 7s ease-in-out;
        }
      }
    }
  }

  .film-poster__img-box {
    overflow: hidden;
    position: relative;
    margin: 0;
    max-width: 300px;
    &:hover .film-poster__overflow {
      transform: translateY(0%);
      background: rgba(33, 150, 243, 0.9);
      //font-size: getFont(m);
      //color: getColor('white');
      line-height: 1.55rem;
      letter-spacing: 0.03em;
      visibility: visible;
      //transition: $transition;
      height: 100%;
    }
  }
  .dark-mode-svg {
    fill: white;
    @include transition-properties(transform);
    &:hover,
    :focus {
      & path {
        fill: white;
        fill-opacity: 1;
        stroke: white;
        stroke-width: 1;
        stroke-dashoffset: 0;
        stroke-dasharray: 3000;

        animation: animatedark 7s ease-in-out;
      }
    }
  }

  @keyframes animatedark {
    0% {
      stroke-dashoffset: 3000;
      fill: none;
    }
    100% {
      stroke-dashoffset: 0;
      fill: white;
    }
  }

  &__genre {
    color: $text-color-additional-primary;
  }
  &__year {
    color: $text-color-additional-primary;
    font-weight: 800;
  }

  &--dark-mode {
    box-shadow: rgba(253, 251, 251, 0.25) 0px 2px 10px 0px;
  }
}
@keyframes animate {
  0% {
    stroke-dashoffset: 3000;
    fill: none;
  }
  100% {
    stroke-dashoffset: 0;
    fill: black;
  }
}
//Spinner styles

.spinner-box {
  background-color: rgba(47, 48, 58, 0.7);
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transition: transition-properties(opacity), transition-properties(visibility);
  visibility: visible;
  width: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
}
.spinner {
  position: fixed;
  margin: auto;
  width: 100px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0px 35px 0 -5px #aaa, 0 -5px 0 0px #ddd, 0 -25px 0 -5px #fff, -25px -30px 0 0px #ddd,
    -25px 30px 0 0px #ddd, 25px -30px 0 0px #ddd, 25px 30px 0 0px #ddd, 20px 10px 0 5px #ddd,
    20px -10px 0 5px #ddd, -20px -10px 0 5px #ddd, -20px 10px 0 5px #ddd;
  @media screen and (min-width: $breakpoint-tablet) {
    transform: scale(1.5);
  }
  @media screen and (min-width: $breakpoint-desktop) {
    transform: scale(2);
  }
}
.spinner:after,
.spinner:before {
  content: '';
  border-radius: 100%;
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  border: 4px dashed $text-color-light;
  bottom: -4px;
  transform: rotate(0deg);
  box-sizing: border-box;
  animation: tape 4s linear infinite;
}
.spinner:before {
  right: 0;
  box-shadow: 0 0 0 4px $text-color-light, 0 0 0 34px $text-color-dark;
}
.spinner:after {
  left: 0;
  box-shadow: 0 0 0 4px $text-color-light, 0 0 0 65px $text-color-dark;
}

@keyframes tape {
  0% {
    transform: rotate(0deg) scale(0.4);
  }
  100% {
    transform: rotate(-360deg) scale(0.4);
  }
}

.spinner-box--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

// dark-mode button
.icon-moon,
.icon-sun,
.icon-moon--visible,
.icon-sun--visible {
  opacity: 1;
  animation: fadeInOut 0.3s ease-in-out;
  display: inline;
  fill: $text-color-light;
  width: 23px;
  height: 23px;
}
.dark-mode-button {
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
}

.icon-moon--hidden,
.icon-sun--hidden {
  opacity: 0;
  display: none;
}

.body--dark {
  background-color: $website-color-secondary;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
