$primary-font: 'Roboto', sans-serif;

$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color-grey: #545454;

$color-red: #ff001b;
$color-orange: #ff6b08;

//footer
$background-color-grey: #f7f7f7;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
